<h1>Kittens</h1>
<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
<% end %>
<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten %>
      <%= link_to "Delete", kitten_path(kitten),
    data: {
        turbo_method: :delete,
        turbo_confirm: 'Are you sure?'
    } %>
    </li>
  <% end %>
</ul>


<%= link_to "New Kitten", new_kitten_path %>